body {
    background-color: #F9F9F9;
}
form {
    min-width: 320px;
    max-width: 360px;
}
.form-header {
    text-align: center;
}
.form-header h1{
    font-size: 30px;
}
.form-body {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 18px 14px;
    background-color: #fff;
}
.form-body button {
    width: 100%;
    font-weight: 500;
    
}
